body{
	
	background:rgba(255,182,193,.5);
	

}
h1{
	color: rgb(139,0,139);
}
.play{
	width:300px;
	height: 50px;
	color: cyan;
	background: purple;
	display:block;
   	margin:0 auto;
}

.canvas{
	display:block;
   	margin:0 auto;
	background: yellow;
}
